@model Motor2.Models.User

@{
    ViewBag.Title = "Details";
}

<h2>Detalle</h2>

<div>
    <h4>Usuario</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.user1)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.user1)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.email)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.email)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.password)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.password)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.nombreFichero)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.nombreFichero)
        </dd>

        @if (Model.Files.Any(f => (int?)Motor2.Models.FileType.Image == (f.FileType)))
        {
            <dd>
                @Html.DisplayFor(model => model.nombreFichero)
            </dd>
            <dd>
                <img src="~/Files?id=@Model.Files.First(f =>  (int?) Motor2.Models.FileType.Image == (f.FileType)).Id" style="height:100px;width:100px;" alt="@Model.nombreFichero" />
            </dd>
        }

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.Id }) 
</p>
